<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack">
        <config key="Loop_0">
            <entry key="type" type="xstring" value="loopcontext"/>
        </config>
        <config key="Variable_1">
            <entry key="type" type="xstring" value="variable"/>
            <entry key="name" type="xstring" value="currentIteration"/>
            <entry key="class" type="xstring" value="INTEGER"/>
            <entry key="value" type="xint" value="0"/>
        </config>
        <config key="Variable_2">
            <entry key="type" type="xstring" value="variable"/>
            <entry key="name" type="xstring" value="currentColumnName"/>
            <entry key="class" type="xstring" value="STRING"/>
            <entry key="value" type="xstring" value="Age"/>
        </config>
        <config key="Loop_Execute_3">
            <entry key="type" type="xstring" value="loopcontext_execute"/>
        </config>
        <config key="Variable_4">
            <entry key="type" type="xstring" value="variable"/>
            <entry key="name" type="xstring" value="currentColumnName"/>
            <entry key="class" type="xstring" value="STRING"/>
            <entry key="value" type="xstring" value="Minutes per Red Card"/>
        </config>
        <config key="Variable_5">
            <entry key="type" type="xstring" value="variable"/>
            <entry key="name" type="xstring" value="currentIteration"/>
            <entry key="class" type="xstring" value="INTEGER"/>
            <entry key="value" type="xint" value="38"/>
        </config>
    </config>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <config key="column-filter">
            <entry key="filter-type" type="xstring" value="STANDARD"/>
            <config key="included_names">
                <entry key="array-size" type="xint" value="39"/>
                <entry key="0" type="xstring" value="Age"/>
                <entry key="1" type="xstring" value="Appearences"/>
                <entry key="2" type="xstring" value="Lineups"/>
                <entry key="3" type="xstring" value="Minutes"/>
                <entry key="4" type="xstring" value="Shots Total"/>
                <entry key="5" type="xstring" value="Shots on Target"/>
                <entry key="6" type="xstring" value="Goals"/>
                <entry key="7" type="xstring" value="Assists"/>
                <entry key="8" type="xstring" value="Passes Total"/>
                <entry key="9" type="xstring" value="Key Passes"/>
                <entry key="10" type="xstring" value="Tackles"/>
                <entry key="11" type="xstring" value="Blocks"/>
                <entry key="12" type="xstring" value="Interceptions"/>
                <entry key="13" type="xstring" value="Duels Total"/>
                <entry key="14" type="xstring" value="Duels Won"/>
                <entry key="15" type="xstring" value="Attempted Dribbles"/>
                <entry key="16" type="xstring" value="Successful Dribbles"/>
                <entry key="17" type="xstring" value="Fouls Drawn"/>
                <entry key="18" type="xstring" value="Yellow Cards"/>
                <entry key="19" type="xstring" value="Second Yellow Cards"/>
                <entry key="20" type="xstring" value="Red Cards"/>
                <entry key="21" type="xstring" value="Penalties Scored"/>
                <entry key="22" type="xstring" value="Penalties Missed"/>
                <entry key="23" type="xstring" value="Participations in Goals"/>
                <entry key="24" type="xstring" value="Minutes per Goal"/>
                <entry key="25" type="xstring" value="Minutes per Participation"/>
                <entry key="26" type="xstring" value="Minutes per Assists"/>
                <entry key="27" type="xstring" value="Penalty Conversion"/>
                <entry key="28" type="xstring" value="On Target Conversion per Total Shots"/>
                <entry key="29" type="xstring" value="Shots per Goal"/>
                <entry key="30" type="xstring" value="Goal Conversion per Total Shots"/>
                <entry key="31" type="xstring" value="Goal Conversion per Shots on Target"/>
                <entry key="32" type="xstring" value="Pencertage of Key Passes per Total Passes"/>
                <entry key="33" type="xstring" value="Key Passes per Assist"/>
                <entry key="34" type="xstring" value="Total Passes per Assist"/>
                <entry key="35" type="xstring" value="Percentage of Successful Dribbles"/>
                <entry key="36" type="xstring" value="Percentage of Duels Won"/>
                <entry key="37" type="xstring" value="Minutes per Yellow Card"/>
                <entry key="38" type="xstring" value="Minutes per Red Card"/>
            </config>
            <config key="excluded_names">
                <entry key="array-size" type="xint" value="43"/>
                <entry key="0" type="xstring" value="Name"/>
                <entry key="1" type="xstring" value="Nationality"/>
                <entry key="2" type="xstring" value="Team"/>
                <entry key="3" type="xstring" value="Position"/>
                <entry key="4" type="xstring" value="Age Ranking"/>
                <entry key="5" type="xstring" value="Appearences Ranking"/>
                <entry key="6" type="xstring" value="Lineups Ranking"/>
                <entry key="7" type="xstring" value="Minutes Ranking"/>
                <entry key="8" type="xstring" value="Shots Total Ranking"/>
                <entry key="9" type="xstring" value="Shots on Target Ranking"/>
                <entry key="10" type="xstring" value="Goals Ranking"/>
                <entry key="11" type="xstring" value="Assists Ranking"/>
                <entry key="12" type="xstring" value="Passes Total Ranking"/>
                <entry key="13" type="xstring" value="Key Passes Ranking"/>
                <entry key="14" type="xstring" value="Tackles Ranking"/>
                <entry key="15" type="xstring" value="Blocks Ranking"/>
                <entry key="16" type="xstring" value="Interceptions Ranking"/>
                <entry key="17" type="xstring" value="Duels Total Ranking"/>
                <entry key="18" type="xstring" value="Duels Won Ranking"/>
                <entry key="19" type="xstring" value="Attempted Dribbles Ranking"/>
                <entry key="20" type="xstring" value="Successful Dribbles Ranking"/>
                <entry key="21" type="xstring" value="Fouls Drawn Ranking"/>
                <entry key="22" type="xstring" value="Yellow Cards Ranking"/>
                <entry key="23" type="xstring" value="Second Yellow Cards Ranking"/>
                <entry key="24" type="xstring" value="Red Cards Ranking"/>
                <entry key="25" type="xstring" value="Penalties Scored Ranking"/>
                <entry key="26" type="xstring" value="Penalties Missed Ranking"/>
                <entry key="27" type="xstring" value="Participations in Goals Ranking"/>
                <entry key="28" type="xstring" value="Minutes per Goal Ranking"/>
                <entry key="29" type="xstring" value="Minutes per Participation Ranking"/>
                <entry key="30" type="xstring" value="Minutes per Assists Ranking"/>
                <entry key="31" type="xstring" value="Penalty Conversion Ranking"/>
                <entry key="32" type="xstring" value="On Target Conversion per Total Shots Ranking"/>
                <entry key="33" type="xstring" value="Shots per Goal Ranking"/>
                <entry key="34" type="xstring" value="Goal Conversion per Total Shots Ranking"/>
                <entry key="35" type="xstring" value="Goal Conversion per Shots on Target Ranking"/>
                <entry key="36" type="xstring" value="Pencertage of Key Passes per Total Passes Ranking"/>
                <entry key="37" type="xstring" value="Key Passes per Assist Ranking"/>
                <entry key="38" type="xstring" value="Total Passes per Assist Ranking"/>
                <entry key="39" type="xstring" value="Percentage of Successful Dribbles Ranking"/>
                <entry key="40" type="xstring" value="Percentage of Duels Won Ranking"/>
                <entry key="41" type="xstring" value="Minutes per Yellow Card Ranking"/>
                <entry key="42" type="xstring" value="Minutes per Red Card Ranking"/>
            </config>
            <entry key="enforce_option" type="xstring" value="EnforceInclusion"/>
            <config key="name_pattern">
                <entry key="pattern" type="xstring" value=""/>
                <entry key="type" type="xstring" value="Wildcard"/>
                <entry key="caseSensitive" type="xboolean" value="true"/>
                <entry key="excludeMatching" type="xboolean" value="false"/>
            </config>
            <config key="datatype">
                <config key="typelist">
                    <entry key="org.knime.core.data.StringValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.IntValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.DoubleValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.BooleanValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.LongValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.date.DateAndTimeValue" type="xboolean" value="false"/>
                </config>
            </config>
        </config>
        <config key="no_columns_policy_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="no_columns_policy" type="xboolean" value="true"/>
    </config>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="EXECUTED"/>
    <entry key="factory" type="xstring" value="org.knime.base.node.meta.looper.columnlist2.ColumnListLoopStartNodeFactory"/>
    <entry key="node-name" type="xstring" value="Column List Loop Start"/>
    <entry key="node-bundle-name" type="xstring" value="KNIME Base Nodes"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="5.3.2.v202409100934"/>
    <entry key="node-feature-name" type="xstring" value="KNIME Base nodes"/>
    <entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.base.feature.group"/>
    <entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-feature-version" type="xstring" value="5.3.2.v202409100934"/>
    <config key="factory_settings"/>
    <entry key="name" type="xstring" value="Column List Loop Start"/>
    <entry key="hasContent" type="xboolean" value="true"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports">
        <config key="port_1">
            <entry key="index" type="xint" value="1"/>
            <entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
            <entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
            <entry key="port_object_summary" type="xstring" value="Rows: 926, Cols: 44"/>
            <entry key="port_dir_location" type="xstring" value="port_1"/>
        </config>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" value="3ae2c18d-eb5f-4970-80c1-e4a329fab51b"/>
    </config>
</config>
